body { background: #1ad2bf; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 25px; display: flex; }
.block-sms-0 { color: #603317; font-size: 20px; margin-bottom: 5px; }
.block-shipping-1 { color: #c96ef0; font-size: 13px; margin-bottom: 5px; }
.block-uploader-2 { color: #a51eff; font-size: 18px; margin-bottom: 5px; }
.block-sms-3 { color: #837805; font-size: 16px; margin-bottom: 5px; }
.block-database-4 { color: #40b6a0; font-size: 19px; margin-bottom: 5px; }
.block-sms-5 { color: #22d5c4; font-size: 13px; margin-bottom: 5px; }
.block-search-6 { color: #edc011; font-size: 21px; margin-bottom: 5px; }
.block-shipping-7 { color: #d3955d; font-size: 19px; margin-bottom: 5px; }